html,body {
	background-color: #0099BF;
	height: 100%;
	margin:0;
  	padding:0;
  	background: url('images/fond.png') no-repeat top left fixed; 
  	-webkit-background-size: cover; /* pour Chrome et Safari */
  	-moz-background-size: cover; /* pour Firefox */
  	-o-background-size: cover; /* pour Opera */
  	background-size: cover; /* version standardisée */
  	
  	font-family: "Lato", Tahoma, Arial, Times, sans-serif;
}

/* -------------------------------- HAUT -------------------------------- */
#bandeau_admin {
	position: fixed;
	top:0px;
	height:25px;
	width:100%;
	background-color: #0099BF;
	z-index:10000;
}
#bandeau_admin .lien {
	margin-left: 15px;
	color: #F1F1F1;
	text-decoration: none;
}
#bandeau_admin .lien:hover {
	color: #4C4C4C;
	text-decoration: none;
}
#lbl_resultat {
    float:right;
    color: #FFFFFF;
    opacity:0;
}

#fleche_haut {
	position:fixed;
	top:200px;
	left: 15px;
	height:50px;
	width:50px;
	background:transparent;
	color:#4C4C4C;
	text-shadow: white 1px 1px 2px;
	font-size:3em;
	cursor:pointer;
	opacity:0;
	-webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -ms-transition:all 0.25s;
    -o-transition:all 0.25s;
    transition:all 0.25s;
}
#fleche_haut a {
	text-decoration: none;
	border:none;
}
#fleche_haut img {
	width:64px;
	height:64px;
	border:none;
}

#haut {
	position: relative;
	height: 200px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: #0099BF;
	background: linear-gradient(to bottom, rgba(0, 146, 191, 0.6),  rgba(0, 153, 191, 0.9));
	background: -webkit-linear-gradient(bottom, rgba(0, 146, 191, 0.6),  rgba(0, 153, 191, 0.9));
	background-repeat: no-repeat;
  	background-position: bottom;
	border-bottom: 1px dotted #F1F1F1;
}

#haut .recherche {
	position: absolute;
	background-color: transparent;
	color: #4C4C4C;
	right: 0px;
	bottom: 30px;
	width: 250px;
	height: 20px;
	margin-right: 10px;
}

#haut .recherche img {
	position: absolute;
	bottom 0px;
	width: 32px;
	height: 32px;
	border: none;
	cursor:pointer;
}

#haut .logo {
	position: relative;
	width: 100%;
	height: 150px;
}

#haut .logo .image {
	float: left;
	width: 150px;
	height: 150px;
	border:none;
	margin:15px;
}

#haut .logo .titre {
	position: relative;
	margin-left: 250px;
	font-size: 5em;
	color: #F1F1F1;
	text-shadow: black 1px 1px 2px;
}

#haut .logo .slogan {
	position: relative;
	margin-left: 200px;
	font-size: 2em;
	color: #4C4C4C;
	text-shadow: white 1px 1px 2px;
}

#haut .avatar {
	width:32px;
	height:32px;
	border:none;
}

#haut .lien {
	color: #F1F1F1;
	cursor:pointer;
}
#haut .lien:hover {
	color: #4C4C4C;
}

#haut .menu {
	position: relative;
	color: #F1F1F1;
	width: 100%;
	height: 50px;
	border-top:1px dotted #F1F1F1;
}

#haut .menu li {
	display: inline;
	list-style: none;
	padding: 15px;
}

#haut .menu a {
	color: #F1F1F1;
	text-decoration:none;
}
#haut .menu a:hover {
	color: #4C4C4C;
	text-decoration:none;
}

#haut .cnx_ins {
	position: absolute;
	top: 15px;
	right: 50px;
	color: #F1F1F1;
}

#haut .none {
	border:none;
	text-decoration:none;
}

/* -------------------------------- HAUT -------------------------------- */

/* -------------------------------- CORPS ------------------------------- */

#corps {
	position: relative;
	min-height: 400px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: #F1F1F1;
	border-bottom: 1px dotted #0099BF;
	border-top: 1px dotted #0099BF;
	color: #0099BF;
}

#corps .contenu {
	width: 80%;
	min-height: 50px;
	border-bottom: 1px dotted #0099BF;
}

.contenu a .lienArticle {
	text-decoration: none;
}

.contenu h1 {
	font-size: 2em;
	color: #0092BF;
	border-left: 10px solid #0099BF;
	margin-left: 30px;
	padding-left: 15px;
}

.contenu h1:first-letter {
	color: #0092BF;
}

.contenu h2 {
	font-size: 1em;
	color: #0092BF;
	margin-left: 30px;
}

.contenu h2:first-letter {
	color: #4C4C4C;
}

.contenu p {
    text-indent: 2em;
    color: #4C4C4C;
    font-size:0.8em;
	margin-left: 50px;
}

.contenu p:first-letter {
	font-size:1.5em;
	color: #0099BF;
}

.contenu a {
	color: #0099BF;
	text-decoration: none;
}

.contenu a:hover {
	color: #4C4C4C;
	text-decoration: underline;
}

.contenu .lien {
	color: #0099BF;
	text-decoration: none;
	cursor:pointer;
}

.contenu lien:hover {
	color: #4C4C4C;
	text-decoration: underline;
}

.contenu .infoArticle {
	float: right;
	width: 250px;
	height: 200px;
	border-left: 1px dotted #0099BF;
	text-align: center;
}

.contenu .infoArticle .img {
	position: relative;
	top:0px;
	width:100px;
	height:100px;
	border:none;
}

.contenu .rs .img {
	position: relative;
	top:0px;
	width:32px;
	height:32px;
	border:none;
}
.contenu .rs .img:hover {
	position: relative;
	top:0px;
	width:32px;
	height:32px;
	border:none;
	cursor:pointer;
}

.contenu .infoArticle .createurArticle {
	position: relative;
	font-size:2em;
	color: #0099BF;
	text-shadow: white 1px 1px 2px;
}

.contenu .infoArticle .dateArticle {
	position: relative;
	font-size:1em;
	color: #4C4C4C;
	/*-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
	text-shadow: white 1px 1px 2px;*/
}

.contenu .miseEnAvant {
	position: relative;
	width: 100%;
	height: 300px;
	background-size: cover;
}
.contenu .miseEnAvant .texte {
	position:absolute;
	bottom:0px;
	left:0px;
	width: 100%;
	height: 30px;
	background-color: #0099BF;
	background: linear-gradient(to bottom, rgba(0, 146, 191, 0.6),  rgba(0, 153, 191, 0.9));
	background: -webkit-linear-gradient(bottom, rgba(0, 146, 191, 0.6),  rgba(0, 153, 191, 0.9));
	background-repeat: no-repeat;
  	background-position: bottom;
  	color: #FFFFFF;
  	padding:15px;
}
.contenu .miseEnAvant img {
	width:100%;
	height:100%;
}

.contenu .texteBandeau {
	position:relative;
	bottom:0px;
	left:0px;
	width: 100%;
	height: 30px;
	background-color: #0099BF;
	background: linear-gradient(to bottom, rgba(0, 146, 191, 0.6),  rgba(0, 153, 191, 0.9));
	background: -webkit-linear-gradient(bottom, rgba(0, 146, 191, 0.6),  rgba(0, 153, 191, 0.9));
	background-repeat: no-repeat;
  	background-position: bottom;
  	color: #FFFFFF;
  	padding:15px;
}

.contenu .blocs {
	position: relative;
	width: 100%;
	min-height:200px;
	margin-bottom:150px;
	margin-left:30px;
	margin-right:100px;
}
.contenu .blocs .bloc {
	display: inline-block;
	width: 20%;
	height: 25%;
	border-bottom: 1px dotted #0099BF;
	padding:5px;
	-webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -ms-transition:all 0.25s;
    -o-transition:all 0.25s;
    transition:all 0.25s;
}
.contenu .blocs .bloc:hover {
	border-bottom: 1px solid #4C4C4C;
	-webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -ms-transition:all 0.25s;
    -o-transition:all 0.25s;
    transition:all 0.25s;
}
.contenu .blocs .bloc2 {
	/*position:relative;*/
	display: inline-block;
	width: 30%;
	height: 25%;
	border-bottom: 1px dotted #0099BF;
	padding:5px;
	-webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -ms-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;
}
.contenu .blocs .bloc2:hover {
	border-bottom: 1px solid #4C4C4C;
	-webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -ms-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;
}
.contenu .blocs .bloc2 img {
	float:left;
	width: 40%;
	height: 15%;
	border:none;
	padding:5px;
}
.contenu .blocs .bloc p {
    text-indent: 2em;
    color: #4C4C4C;
    font-size:0.8em;
}
.contenu .texte {
	position:absolute;
	top:0px;
	left:0px;
	width: 80%;
	height: 30px;
	background-color: #0099BF;
	background: linear-gradient(to bottom, rgba(0, 146, 191, 0.6),  rgba(0, 153, 191, 0.9));
	background: -webkit-linear-gradient(bottom, rgba(0, 146, 191, 0.6),  rgba(0, 153, 191, 0.9));
	background-repeat: no-repeat;
  	background-position: bottom;
  	color: #FFFFFF;
  	padding:15px;
}

.contenu .smiley {
	border:none;
	width:24px;
	height:24px;
}

#corps .like {
	position:absolute;
	left:-40px;
	width: 80px;
	height: 80px;
	background-color: #4C4C4C;
	text-align:center;
}

.like .plus {
	position: relative;
	background-color: #F1F1F1;
	color: #4C4C4C;
	width:40px;
	height:40px;
	-webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -ms-transition:all 0.25s;
    -o-transition:all 0.25s;
    transition:all 0.25s;
    cursor:pointer;
    font-size: 2em;
}
.like .plus:hover {
	position: relative;
	background-color: #FFFFFF;
	color: #2C2C2C;
	width:40px;
	height:40px;
	-webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -ms-transition:all 0.25s;
    -o-transition:all 0.25s;
    transition:all 0.25s;
}

.like .moins {
	position: relative;
	background-color: #4C4C4C;
	color: #F1F1F1;
	width:40px;
	height:40px;
	-webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -ms-transition:all 0.25s;
    -o-transition:all 0.25s;
    transition:all 0.25s;
    cursor:pointer;
	font-size: 2em;
}
.like .moins:hover {
	position: relative;
	background-color: #2C2C2C;
	color: #FFFFFF;
	width:40px;
	height:40px;
	-webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -ms-transition:all 0.25s;
    -o-transition:all 0.25s;
    transition:all 0.25s;
}

.like .compteur {
	float: right;
	background-color: #0099BF;
  	color: #FFFFFF;
  	width:40px;
  	height:80px;
	font-size: 1.2em;
}

.like .compteur .img {
	opacity: 0;
	width:40px;
	height:40px;
	border: none;
}

#corps .bloc_flottant {
	float:left;
	width:120px;
	height:120px;
	background:#E5E5E5;
	color:#4C4C4C;
	margin:30px;
	text-align:center;
}
#corps .bloc_flottant:hover {
	float:left;
	width:120px;
	height:120px;
	background:#D5D5D5;
	color:#2C2C2C;
	margin:30px;
	text-align:center;
}
#corps .bloc_flottant .chiffre {
	font-size:5em;
	color: #4C4C4C;
	text-shadow:1px 1px 1px #555;
}
#corps .bloc_flottant .texteChiffre {
	font-size:1em;
	color: #0099BF;
}
#corps .bloc_flottant a {
	text-decoration:none;
}

#corps .bloc_flottant_selectionne {
	float:left;
	width:120px;
	height:120px;
	background:#0099BF;
	color:#F1F1F1;
	margin:30px;
	text-align:center;
}
#corps .bloc_flottant_selectionne:hover {
	float:left;
	width:120px;
	height:120px;
	background:#0092BF;
	color:#FFFFFF;
	margin:30px;
	text-align:center;
}
#corps .bloc_flottant_selectionne .chiffre {
	font-size:5em;
	color: #4C4C4C;
	text-shadow:1px 1px 1px #555;
}
#corps .bloc_flottant_selectionne .texteChiffre {
	font-size:1em;
	color: #FFFFFF;
}
#corps .bloc_flottant_selectionne a {
	text-decoration:none;
}

#corps input.InputFalse {
	border:none;
	border-bottom:1px dotted #0099BF;
	background-color:transparent;
	cursor:pointer;
	width:300px;
	padding:5px;
}

#corps input.InputFalse:hover {
	border:none;
	border-bottom:1px dotted #0099BF;
	background-color:transparent;
	cursor:pointer;
}

#corps input.InputFalse:focus {
	border:none;
	border-bottom:1px solid #0099BF;
	background-color:#FFFFFF;
	cursor:pointer;
}

/* -------------------------------- CORPS ------------------------------- */
/* -------------------------------- ASIDE ------------------------------- */


#corps .aside {
	position: absolute;
	right: 0px;
	top: 0px;
	width:20%;
	height:100%;
	margin:0px;
	border-left: 2px solid #D1D1D1;
	background-color: #E1E1E1;
}

#corps .aside ul {
	position:relative;
	left:0px;
	width:100%;
	padding: 0px;
}

#corps .aside li {
	background-color: transparent;
	color: #4C4C4C;
	width:100%;
	height:25px;
	-webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -ms-transition:all 0.25s;
    -o-transition:all 0.25s;
    transition:all 0.25s;
    list-style: none;
    margin:0px;
}
#corps .aside li:hover {
	background-color: #F1F1F1;
	color: #4C4C4C;
	width:100%;
	height:25px;
	-webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -ms-transition:all 0.25s;
    -o-transition:all 0.25s;
    transition:all 0.25s;
    list-style: none;
    margin:0px;
}

#corps .aside li a {
	margin-left:15px;
}

#corps .aside .titre_aside {
	font-size: 1em;
	color: #0099BF;
	width:100%;
	margin-left:30px;
}

#corps .aside li a {
	text-decoration: none;
	color: #4C4C4C;
}
#corps .aside li a:hover {
	text-decoration: underline;
	color: #4C4C4C;
}





/* -------------------------------- ASIDE ------------------------------- */

/* -------------------------------- BAS --------------------------------- */

#bas {
	position: relative;
	bottom: 0px;
	height: 100px;
	width: 100%;
	margin-top: 50px;
	background:transparent;
	color: #4C4C4C;
	font-size: 0.8em;
	text-align: center;
	text-shadow: white 1px 1px 2px;
}

#bas a {
	color: #0099BF;
	text-decoration: none;
}

#bas a:hover {
	color: #4C4C4C;
	text-decoration: underline;
}

#bas img {
	border:none;
}

/* -------------------------------- BAS --------------------------------- */

/* -------------------------------- FORM -------------------------------- */
input.submit {
	width:120px;
	height:40px;
	background-color:#0099BF;
	color:#FFFFFF;
	font-size:1.2em;
	text-shadow:1px 1px 1px #555;
	border:1px solid #FFFFFF;
	cursor:pointer;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
input.reset {
	width:120px;
	height:40px;
	background-color:#FFFFFF;
	color:#0099BF;
	font-size:1.2em;
	text-shadow:1px 1px 1px #555;
	border:1px solid #0099BF;
	cursor:pointer;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
input.text { 
	margin:1px 0;
	border: 1px dotted #FFFFFF;
	width:200px; 
	padding:4px 4px 4px 6px;  
	color:#2C2C2C;
	font-size:0.9em; 
	line-height:1.18em; 
	height:20px;
	background-color:#FFFFFF;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
input.text:hover { 
	margin:1px 0;
	border: 1px solid #2C2C2C;  
	width:200px; 
	padding:4px 4px 4px 6px;   
	color:#2C2C2C;
	font-size:0.9em; 
	line-height:1.18em; 
	background-color:#FFFFFF;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
input.text:focus { 
	margin:1px 0;
	border: 1px dotted #F1F1F1; 
	width:200px; 
	padding:4px 4px 4px 6px;   
	color:#FFFFFF;
	font-size:0.9em; 
	line-height:1.18em; 
	background-color:#0099BF;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}

label
{
    display: block;
    min-width: 150px;
    float: left;
}
/* -------------------------------- FORM -------------------------------- */