#menu {
	position:fixed;
	right:0px;
	top:25px;
	width: 200px;
	height:100%;
	background-color: #4C4C4C;
}

#menu .element {
	position:relative;
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #6C6C6C;
	color: #F1F1F1;
	background: #3C3C3C;
	font-size: 1em;
}

#menu .element:hover {
	border-bottom: 1px solid #7C7C7C;
	color: #FFFFFF;
	background: #5C5C5C;
}

#menu a {
	text-decoration:none;
}

#menu em {
	margin:15px;
}