html {
	width: 100%;
	height: 100%;
	font-family: Lato;
	-webkit-font-smoothing:antialiased;
	overflow-x:hidden;
}
body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
	min-height: 100%;
	background-color: #F1F1F1;
	color: #4C4C4C;	
}

h1 {
	margin: 15px;
	font-size: 2em;
	text-shadow:1px 1px 1px #555;
}
h1:first-letter {
	color:#CC33CC;
}

h2 {
	margin:15px;
	margin-left:40px;
	font-size:1em;
}
h2:first-letter {
	color:#CC33CC;
}

/*------------------------------------------------------------ CONNEXION DEBUT -------------------*/

.connexion {
	position:absolute;
	width:350px;
	height:200px;
	margin-left:40%;
	margin-right:40%;
	margin-top:10%;
	background-color: #4C4C4C;
	color: #FFFFFF;
	-moz-box-shadow: 3px 3px 10px #555;
	-webkit-box-shadow: 3px 3px 10px #555;
	box-shadow: 3px 3px 10px #555;
}

.connexion .bouton {
	position:absolute;
	top:150px;
	right: 15px;
	bottom:15px;
	width:120px;
	height:40px;
	background-color:#CC33CC;
	color:#FFFFFF;
	font-size:1.2em;
	text-shadow:1px 1px 1px #555;
	border:1px solid #FFFFFF;
	cursor:pointer;
}

.connexion input.text { 
	/*margin:1px 0;*/
	margin-left:15px;
	margin-right:15px;
	border: 1px dotted #FFFFFF;
	width:310px; 
	padding:4px 4px 4px 6px;  
	color:#2C2C2C;
	font-size:0.9em; 
	line-height:1.18em; 
	height:20px;
	background-color:#F1F1F1;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
.connexion input.text:hover { 
	margin-left:15px;
	margin-right:15px;
	border: 1px solid #2C2C2C;  
	width:310px;
	padding:4px 4px 4px 6px;   
	color:#2C2C2C;
	font-size:0.9em; 
	line-height:1.18em; 
	background-color:#FFFFFF;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
.connexion input.text:focus { 
	margin-left:15px;
	margin-right:15px;
	border: 1px dotted #F1F1F1;
	width:310px; 
	padding:4px 4px 4px 6px;   
	color:#FFFFFF;
	font-size:0.9em; 
	line-height:1.18em; 
	background-color:#CC33CC;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}

.connexion label {
	margin-top: 15px;
	margin-left:15px;
	margin-right:15px;
}

#messageIdent {
	position:fixed;
	bottom:50px;
	width:100%;
	height:50px;
	background-color:#CC33CC;
	color:#FFFFFF;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	font-size:2em;
	text-align:center;
	padding:15px;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
    opacity:0;
    z-index:1;
}
#messageDecnx {
	position:fixed;
	bottom:50px;
	width:100%;
	height:50px;
	background-color:#CC33CC;
	color:#FFFFFF;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:15px;
	font-size:2em;
	text-align:center;
	padding:15px;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
    opacity:0;
    z-index:1;
}

#check {
	opacity:0;
}

/*------------------------------------------------------------ CONNEXION FIN -------------------*/
/*------------------------------------------------------------ TABLEAUX DEBUT --------------------*/
.resultat {
	position:relative;
	width:100%;
	padding:15px;
	background:#E5E5E5;
	margin-left:50px;
	margin-right:50px;
}

table {
	border:none;
	width:100%;
	background:transparent;
	color:#4C4C4C;
	border-collapse:collapse;
}

th {
	background:#CC33CC;
	color:#FFFFFF;
	font-size:1.2em;
	text-shadow:1px 1px 1px #555;
	padding:5px;
}

tr {
	padding:5px;
	border-bottom:1px dotted #FFFFFF;
	background-color:#F1F1F1;
	color:#4C4C4C;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}

tr:hover {
	background-color:#4C4C4C;
	color:#FFFFFF;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}

tr a {
	text-decoration:none;
	color:#4C4C4C;
	-webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -ms-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;
}

tr:hover a {
	text-decoration:none;
	color:#FFFFFF;
	-webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -ms-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;
}

td {
	border:none;
	text-align:center;
}
/*------------------------------------------------------------ TABLEAUX FIN ----------------------*/

/*------------------------------------------------------------ IMAGES DEBUT ----------------------*/
.icone {
	border:none;
	width:32px;
	height:32px;
	cursor:pointer;
}

/*------------------------------------------------------------ IMAGES FIN ------------------------*/

/*------------------------------------------------------------ BLOC DEBUT ------------------------*/
#bandeau_admin {
	position: fixed;
	top:0px;
	height:25px;
	width:100%;
	background-color: #CC33CC;
	z-index:10000;
}
#bandeau_admin .lien {
	margin-left: 15px;
	color: #FFFFFF;
	text-decoration: none;
	cursor:pointer;
}
#bandeau_admin .lien:hover {
	color: #4C4C4C;
	text-decoration: none;
}

#page {
	position:relative;
	height:100%;
	width:70%;
	margin-top: 30px;
	margin-bottom: 30px;
}

#page .resultat {
	margin-bottom:50px;
}

.bloc_flottant {
	float:left;
	width:200px;
	height:200px;
	background:#E5E5E5;
	color:#4C4C4C;
	margin:30px;
	text-align:center;
}
.bloc_flottant .chiffre {
	font-size:5em;
	color: #4C4C4C;
	text-shadow:1px 1px 1px #555;
}
.bloc_flottant .texte {
	font-size:1em;
	color: #CC33CC;
}
.bloc_flottant a {
	text-decoration:none;
}

.bloc_recherche {
	position:relative;
	width:100%;
	min-height:30px;
	background:#E5E5E5;
	color:#4C4C4C;
	margin-left:50px;
	margin-right:50px;
	margin-top:15px;
	margin-bottom:15px;
	padding:15px;
}
.bloc_ajout {
	position:relative;
	width:100%;
	min-height:30px;
	background:#E5E5E5;
	color:#4C4C4C;
	margin-left:50px;
	margin-right:50px;
	margin-top:15px;
	margin-bottom:15px;
	padding:15px;
}

/*------------------------------------------------------------ BLOC FIN --------------------------*/

/*------------------------------------------------------------ FORMULAIRE DEBUT ------------------*/
.bouton {
	position:absolute;
	margin-right:15px;
	margin:top:10px;
	margin-bottom:10px;
	right:0px;
	bottom:0px;
}
.obligatoire {
	/* */
}
.obligatoire:after {
	content:' * (recquis)';
	font-size:0.7em;
	color: #2C2C2C;
}

input.submit {
	width:120px;
	height:40px;
	background-color:#CC33CC;
	color:#FFFFFF;
	font-size:1.2em;
	text-shadow:1px 1px 1px #555;
	border:1px solid #FFFFFF;
	cursor:pointer;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
input.reset {
	width:120px;
	height:40px;
	background-color:#FFFFFF;
	color:#CC33CC;
	font-size:1.2em;
	text-shadow:1px 1px 1px #555;
	border:1px solid #CC33CC;
	cursor:pointer;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
input.text { 
	margin:1px 0;
	border: 1px dotted #FFFFFF;
	width:200px; 
	padding:4px 4px 4px 6px;  
	color:#2C2C2C;
	font-size:0.9em; 
	line-height:1.18em; 
	height:20px;
	background-color:#F1F1F1;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
input.text:hover { 
	margin:1px 0;
	border: 1px solid #2C2C2C;  
	width:200px; 
	padding:4px 4px 4px 6px;   
	color:#2C2C2C;
	font-size:0.9em; 
	line-height:1.18em; 
	background-color:#FFFFFF;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
input.text:focus { 
	margin:1px 0;
	border: 1px dotted #F1F1F1; 
	width:200px; 
	padding:4px 4px 4px 6px;   
	color:#FFFFFF;
	font-size:0.9em; 
	line-height:1.18em; 
	background-color:#CC33CC;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}

input.text_gd { 
	margin:1px 0;
	border: 1px dotted #FFFFFF;
	width:400px; 
	padding:4px 4px 4px 6px;  
	color:#2C2C2C;
	font-size:0.9em; 
	line-height:1.18em; 
	height:20px;
	background-color:#F1F1F1;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
input.text_gd:hover { 
	margin:1px 0;
	border: 1px solid #2C2C2C;  
	width:400px; 
	padding:4px 4px 4px 6px;   
	color:#2C2C2C;
	font-size:0.9em; 
	line-height:1.18em; 
	background-color:#FFFFFF;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
input.text_gd:focus { 
	margin:1px 0;
	border: 1px dotted #F1F1F1; 
	width:400px; 
	padding:4px 4px 4px 6px;   
	color:#FFFFFF;
	font-size:0.9em; 
	line-height:1.18em; 
	background-color:#CC33CC;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}

textarea .area { 
	/*margin:1px 0;
	border: 1px dotted #FFFFFF;
	width:600px; 
	height:600px
	padding:4px 4px 4px 6px;  
	color:#2C2C2C;
	font-size:0.9em; 
	line-height:1.18em; 
	background-color:#F1F1F1;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;*/
    overflow:scroll 0px;
    width:666px !important;
    height:11.88em !important;
    border:none;
    color:#999999;
    background-color:#990000;
}

label
{
    display: block;
    min-width: 150px;
    float: left;
}
.select {
	width: 210px;
	height: 30px;
 	overflow: hidden;
 	background: url('../images/bottom-arrow.png') no-repeat 96% center #f4f4f4;
 	border: 1px dotted #FFFFFF;
 	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
select {
	background: transparent;
 	width: 210px;
 	margin:1px 0;
	padding:4px 4px 4px 6px; 
 	font-size: 0.7em;
 	line-height: 1.40em;
 	border: 0px;
 	border-radius: 0px;
	height:30px;
	color:#2C2C2C;
 	-webkit-appearance: none;
 	-moz-appearance: none;
 	appearance: none;
 	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
select:hover .select { 
	border: 1px solid #2C2C2C;     
	color:#2C2C2C;
	background: #FFFFFF;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
select:focus .select { 
	border: 1px dotted #F1F1F1;    
	color:#FFFFFF;
	background: #CC33CC;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}

/*------------------------------------------------------------ FORMULAIRE FIN --------------------*/
/*------------------------------------------------------------ MESSAGES DEBUT --------------------*/
.message {
	position:relative;
	width:100%;
	height:0px;
	background-color:#CC33CC;
	color:#FFFFFF;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:15px;
	font-size:2em;
	text-align:center;
	padding:15px;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
#lbl_resultat {
	/*position:fixed;
	bottom:0px;
	width:70%;
	height:50px;
	background-color:#CC33CC;
	color:#FFFFFF;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:15px;
	font-size:2em;
	text-align:center;
	padding:15px;
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;*/
    float:right;
    color: #FFFFFF;
    opacity:0;
}
.error {
	position:relative;
	width:70%;
	height:50px;
	background-color:#CC0000;
	color:#FFFFFF;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:15px;
	font-size:0.8em;
	text-align:center;
	padding:15px;
}

#message_action {
	position:fixed;
	height:50px;
	width:70%;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:15px;
	font-size:2em;
	text-align:center;
	padding:15px;
}

/*------------------------------------------------------------ MESSAGES FIN ----------------------*/